#!/bin/bash

[Unit]
Description = $app_name Service

[Service]
User=roboshop
Environment=MONGO=true
// highlight-start
Environment=MONGO_URL="mongodb://mongodb.daws-90sb.online:27017/$app_name"
// highlight-end
ExecStart=/bin/node /app/server.js
SyslogIdentifier=$app_name

[Install]
WantedBy=multi-user.target